<div [formGroup]="myForm" class="container">
  <p [ngClass]="isInvalid() ?  'label-invalid': 'label'" *ngIf="label">
    {{ label }}
  </p>

  <div class="input-box" [ngClass]="getInputBoxClass()">
    <textarea #inputField id="inputField" class="input-field" [formControlName]="formFieldName"
      [style]=" heightPx? 'height: ' + heightPx + 'px;': ''"> </textarea>
    <div *ngIf="inputField.value !== ''">
      <img class="clear-button" src="../../../assets/close.png" (click)="resetFormFieldValue($event);" tabindex="-1">
    </div>
  </div>

  <div>
    <div class="error" *ngIf="isInvalid() && myForm.value[formFieldName] === ''">
      Dieses Feld bitte ausfüllen.
    </div>
    <div class="error" *ngIf="isInvalid() && myForm.value[formFieldName] !== ''">
      {{ errorMessage }}
    </div>
  </div>

</div>