.scrollable-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  margin-top: 100px;
}

.profile-info {
  border: 1px solid var(--foreground);
  padding: 20px;
}

.btn {
  border-radius: 5px;
  background: var(--foreground);
  color: var(--background);
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.logout-btn {
  margin-top: 40px;
  height: 70px;
  width: 60%;
}

.btn-layout {
  display: grid;
  grid-template-columns: 80px auto;

  width: 100%;

  align-items: center;
}

button .icon {
  margin-top: 5px;
  transform: scale(2);
  grid-column: 1;
}

button .text {
  grid-column: 2;
  text-align: left;
}

.about {
  font-size: 12pt;
  position: absolute;
  bottom: 100px;
}

hr {
  height: 1px;
  border-color: #F7EBD4;
}

table {
  table-layout: fixed;
  width: 100%;
}

.tableEntry {
  width: 30%;
  font-weight: 500;
}

.content {
  width: 58%;
  font-size: 16px;
}