<div class="page-container" id="1">

  <app-back-button headline="Über uns"></app-back-button>
  <div class="scrollable-container">

    <p class="detail">
      Auf dieser Seite finden Sie mehr Informationen zum Software-Projekt Team, dass die gegebene Version von
      Island-Explorer entwickelt hat.
    </p>
    <hr>
    <h2>Unser Team</h2>

    <app-elias-maier></app-elias-maier>
    <br>
    <app-jonathan-haessler></app-jonathan-haessler>
    <br>
    <app-nicolas-luckert></app-nicolas-luckert>
    <br>
    <app-paulina-leutloff></app-paulina-leutloff>
    <br>
    <app-robin-erb></app-robin-erb>
    <br>
    <app-lucia-schopper></app-lucia-schopper>
    <br>
    <hr>

    <div class="unihead"> Institution <div>
        <div class="unitext">Universität Konstanz <br>
          Universitätsstr. 10 <br>
          78464 Konstanz <br>
          Deutschland</div>

      </div>
    </div>

  </div>
</div>