<div class="page-container">

  <app-back-button headline="Passwort"></app-back-button>
  <div class="scrollable-container">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <app-user-input type="password" class="inputfield" label="Altes Passwort" [myForm]="passwordForm"
        formFieldName="oldPassword" [errorMessage]="errorMessages['oldPassword']">
      </app-user-input>

      <br>

      <app-user-input type="password" class="inputfield" label="Neues Passwort" [myForm]="passwordForm"
        formFieldName="password" [errorMessage]="errorMessages['password']">
      </app-user-input>
      <app-user-input type="password" class="inputfield" label="Neues Passwort wiederholen" [myForm]="passwordForm"
        formFieldName="passwordRep" [errorMessage]="errorMessages['passwordRep']">
      </app-user-input>

      <br>

      <div class="center">
        <button class="yellow button">Speichern</button>
      </div>
      <div class="center">
        <button class="beige button" (click)="abbrechen()">Abbrechen</button>
      </div>
    </form>
  </div>
</div>