.grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.ticketamount {
    text-align: left;
}

.ticketprice {
    text-align: right;
}

.ticketbox {
    border: var(--mainau-beige) 2px solid;
    padding: 5px;
    margin: 0 0 10px 0;
  }